# **Project 2 Electric Vehicle Population**

## 1\. How many vehicles are registered through the Washington State Department of Licensing (DOL) from 1997 to 2023?

In [9]:
SELECT COUNT(*) AS Vehicles_registered
FROM Electric_Vehicle_Population

Vehicles_registered
159463

## 2\. What is the population of BEV and PHEV electric vehicles?

In [10]:
SELECT COUNT(*) AS Vehicle_Population, Electric_Vehicle_type
FROM Electric_Vehicle_Population
GROUP BY Electric_Vehicle_type
ORDER BY Vehicle_Population DESC

Vehicle_Population,Electric_Vehicle_type
124149,Battery Electric Vehicle (BEV)
35314,Plug-in Hybrid Electric Vehicle (PHEV)

## 3\. What are the top 5 county by vehicle population?

In [11]:
SELECT TOP 5 COUNT(*) AS Vehicle_Population,county
FROM Electric_Vehicle_Population
GROUP BY county
ORDER BY Vehicle_Population DESC

Vehicle_Population,county
83413,King
18544,Snohomish
12315,Pierce
9370,Clark
5711,Thurston

## 4\. Which vehicle model has the highest population?

In [12]:
SELECT TOP 5 Count(*) AS Vehicle_Population, Model
FROM Electric_Vehicle_Population
GROUP BY Model
ORDER BY Vehicle_Population DESC

Vehicle_Population,Model
30841,MODEL Y
28588,MODEL 3
13310,LEAF
7649,MODEL S
6112,BOLT EV

## 5\. Which brand has the highest vehicle population?

In [14]:
SELECT TOP 5 COUNT(*) AS Vehicle_Population,Make AS Brand
FROM Electric_Vehicle_Population
GROUP BY Make
ORDER BY Vehicle_Population DESC

Vehicle_Population,Brand
72442,TESLA
13794,NISSAN
12568,CHEVROLET
8009,FORD
6842,BMW

## 6\. Which city has the highest vehicle population?

In [15]:
SELECT TOP 5 COUNT(*) AS Vehicle_Population,City
FROM Electric_Vehicle_Population
GROUP BY City
ORDER BY Vehicle_Population DESC

Vehicle_Population,City
26932,Seattle
8076,Bellevue
5796,Redmond
5599,Vancouver
5176,Bothell

## 7. What are the top 5 electric vehicle models with the highest range?

In [16]:
SELECT Top 5 Model, Electric_Range
FROM Electric_Vehicle_Population
GROUP BY Electric_Range, Model
ORDER BY Electric_Range DESC

Model,Electric_Range
MODEL S,337
MODEL S,330
MODEL 3,322
MODEL 3,308
MODEL X,293

## 8. What is the vehicle population by vehicle model year from 1997 to 2023?

In [17]:
SELECT COUNT(*) AS Vehicle_Population,Model_Year
FROM Electric_Vehicle_Population
GROUP BY Model_Year
ORDER BY Vehicle_Population DESC

Vehicle_Population,Model_Year
45244,2023
27680,2022
18737,2021
14327,2018
11394,2020
10729,2019
8576,2017
5604,2016
4897,2015
4515,2013
3561,2014
1714,2024
1645,2012
780,2011
24,2010
20,2008
8,2000
3,1999
2,2002
1,1998
1,1997
1,2003